
.bg-dark {
 background:#484849 !important;
}

ul.navbar-nav {
 margin-left:70%;
}

.navbar {
 font-family: 'Raleway', sans-serif;
}

.navbar-brand{
  color:white;
  font-size:1.25em;
}

.title{
  font-family: 'Courgette', cursive;
  font-size: 40px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bolder;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

.byline{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bolder;
  margin: 0 auto;
  text-align: center;
}

.trello{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bolder;
  margin: 0 auto;
  text-align: center;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: underline;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

.center{
  padding-bottom: 20px;
  padding-left: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

li{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

.chart_title{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  width:70%;
  text-align: left;
  padding-bottom: 10px;
  margin: 0 auto;
}


.chart_subtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  width:70%;
  text-align: left;
  padding-bottom: 10px;
  margin: 0 auto;
}

.source{
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-style: italic;
  width:70%;
  margin: 0 auto;
  text-align: left;
}

#newsemp{
  width:70%;
  text-align: left;
  margin: 0 auto;
}
